<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>X-Vote</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="icon" type="image/svg+xml" href="/static/img/LogoLarge.png" />
  <link rel="stylesheet" href="/static/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <script href="/static/js/app.js"></script>
  <script src="https://kit.fontawesome.com/3e54146963.js" crossorigin="anonymous"></script>
</head>

<body>
  <main>
    <div class="big-wrapper light">
      <header>
        <div class="container">
          <div class="logo">
            <img src="/static/img/LogoLarge.png" alt="Logo" />
          </div>

          <div class="links">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">About</a></li>
              <li><a href="mint_nft.html" class="btn">Connect Wallet</a></li>
            </ul>
          </div>

          <div class="overlay"></div>

          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </header>

      <div class="showcase-area">
        <div class="container">
          <div class="left">
            <div class="big-title">
              <h1>Secure, Transparent and Easy Voting...</h1>
            </div>
            <p class="text">
              Vote securely and confidently with our blockchain-powered <br />
              E-voting system. Your vote matters, ensure it's counted.
            </p>
            <div class="cta">
              <a href="#" class="btn">Get started <i class="ri-arrow-right-line"></i></a>
            </div>
          </div>

          <div class="plan__image">
            <img src="/static/img/xvote 1.png" alt="plan" />
            <img src="/static/img/µê¬σ¢╛-test.png" alt="plan" />
            <img src="/static/img/Screenshot-iPhone15 Pro Max.png" alt="plan" />
          </div>
        </div>
      </div>

      <div class="bottom-area">
        <div class="container">
          <button class="toggle-btn">
            <i class="ri-moon-line"></i>
            <i class="ri-sun-line"></i>
          </button>
        </div>
      </div>
    </div>

   

    <section class="section__container plan__container">
      <p class="subheader">Empower Your Voice</p>
      <h2 class="section__header">
        Vote Anytime, Anywhere, At Your Convenience
      </h2>

      <div class="plan__grid">
        <div class="plan__content">
          <span class="number">01</span>
          <h4>Voter Requirements for Elections</h4>
          <p>
            Stay informed and prepared for the upcoming elections by reviewing
            essential voter requirements. Ensure a smooth and hassle-free
            experience when casting your vote in this important civic process.
          </p>
          <span class="number">02</span>
          <h4>Voting Security Measures</h4>
          <p>
            Comprehensive protection for your peace of mind. Learn about the
            safeguards in place to secure your vote, covering a range of
            potential risks and ensuring your voice is counted in every
            election.
          </p>
          <span class="number">03</span>
          <h4>Election Requirements by Jurisdictions</h4>
          <p>
            Stay informed and plan your vote with ease, as we provide
            up-to-date information on specific voting requirements for your
            city or state. Make sure you’re prepared to participate in your
            local and national elections.
          </p>
        </div>


        <div class="plan__image">
          <img
            src="/static/img/Download premium vector of Computer safety technology icon vector by Kappy about ornamental shield background vector, tech background green digital, cybersecurity integration, it security, and shield icon 1055210 2.png"
            alt="plan" />
          <img src="/static/img/µê¬σ¢╛-test.png" alt="plan" />
          <img src="/static/img/Screenshot-iPhone15 Pro Max.png" alt="plan" />
        </div>
      </div>

      <!-- <div class="saraj"></div>
      <a href="#" class="suraj">Get started <i class="ri-arrow-right-line"></i></a>
      </div> -->
    </section>


    <div class="showcase-area">
      <div class="container">
        <div class="left">
          <div class="text-container">
            <p>Trust in Every Vote</p>
            <h2>Worried Your Vote Won’t Count?</h2>
            <p>Try us out—we guarantee 100% security and transparency.</p>
          </div>
          <div class="cta">
            <a href="mint_nft.html" class="btn">Connect Wallet<i class="ri-bar-chart-line"></i></a>
          </div>
        </div>

        <div class="right">
          <img
            src="./img/Download premium vector of Computer safety technology icon vector by Kappy about ornamental shield background vector, tech background green digital, cybersecurity integration, it security, and shield icon 1055210 2.png"
            alt="Person Image" class="image" />
        </div>
      </div>
    </div>

    <!-- Poll Results Section -->
    <section class="poll-section">
      <div class="image-container">
        <div class="hand-phone">
          <img src="./img/µê¬σ¢╛-test.png" alt="Hand" class="hand">
          <img src="./img/Screenshot-iPhone15 Pro Max.png" alt="Phone" class="phone">
        </div>
      </div>
      <div class="text-container">
        <h2>See Poll Results in Real-Time!</h2>
        <p>Experience unmatched transparency, watch the votes unfold as they happen.</p>
        <p>Now that’s Next level Transparency</p>
        <button class="cta-button">Connect Wallet <i class="ri-bar-chart-line"></i></button>
      </div>
    </section>












  </main>



  <footer>
    <div class="row">
      <div class="col">
        <img src="/static/img/LogoLarge.png" alt="Logo" class="logo" />
        <p>
          Vote securely and confidently with our blockchain powered E-voting
          system Your vote matters.
        </p>
      </div>
      <div class="col">
        <h3>LINKS <div class="underline"><span></span></div>
        </h3>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">FEATURES</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">CONTACT US</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>CONTACT US <div class="underline"><span></span></div>
        </h3>
        <form>
          <i class="fa-solid fa-message"></i>
          <input class="trybe" type="text" placeholder="Your message">
          <!-- <input type="submit" value="SEND"> -->
          <button class="trybe" type="submit">SEND</button>
        </form>
      </div>
    </div>


    <div class="section__container footer__bar">
      <p>Copyright © Xvote 2024 All rights reserved.</p>
      <div class="socials">
        <span><i class="ri-facebook-fill"></i></span>
        <span><i class="ri-twitter-x-fill"></i></span>
        <span><i class="ri-instagram-fill"></i></span>
        <span><i class="ri-linkedin-fill"></i></span>
      </div>
    </div>

    </div>
  </footer>
  <!-- JavaScript Files -->


  <script src="/static/js/app.js"></script>
</body>

</html>