*.pyc
__pycache__/
db.sqlite3
media/
*.log
*.pot
*.py[cod]
*.swp
*.sqlite3
*.env
.env
venv/
.idea/
.vscode/
.DS_Store
myenv/
frontend/node_modules
node_modules/
frontend/package-lock.json
Pipfile
Pipfile.lock

.solana/
.solana-wallets/
target/
*.so
